{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>GTrack</h1>
                    <h4>GTack help GT students to easily track and manage their course projects.
                        <br/> You can interpret GTrack as GT rack or G track.
                        <br/> It was born in the course CS6400
                        <br/> taught by Prof. Navathe, in fall 2017.
                    </h4>

                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}