

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Appointments{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Appointments</h1>
        {% if appointments %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Project ID </th>
                  <th width="40%"> Time </th>
                  <th width="15%"> Instructor SSN </th>
                  <th width="15%"> Status </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for apt in appointments %}
                <tr>
                  <td> {{ apt.pro_id }} </td>
                  <td> {{ apt.time }}
                    <a href="{{ url_for('admin.edit_role', id=apt.pro_id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    {{ apt.ins_ssn }}
                  </td>
                  <td>
                    {{ apt.status }}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_role', id=apt.pro_id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No roles have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_apt') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}